@media(max-width:900px){
    .home{
        background-position-x:70vw;

    }
.header{
    z-index: -1;
    background-color: #e1bafac0;
    position: absolute;
    left: 0;
    top: 0px;
}

.home{
    background-color: #72f0b567;
    position: absolute;
    left: 0;
    top: 0px;
 }
.post{
    margin: 25px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 35px;
    border-bottom: 2px;
    min-width: 50%;
    width: 75px;
    right: 35%;
    min-height: 50%;
    height: 50%;
    border-radius: none;
    position: center;

}
p{
text-align: justify;

}