@media(max-width:900px){
    .home{
        background-position-x:70vw;

    }
.header{
    z-index: -1;
    background-color: #e1bafac0;
    position: absolute;
    left: 10px;
    top: 10px;
    right: 1%;
}

.home{
    background-color: #72f0b567;
    position:relative;
    left: 0;
    top: 5px;
    padding-top: 25rem;
 }
.post{
    margin: 5px;
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 5px;
    border-bottom: 2px;
    min-width: 35%;
    max-width: 100%;
    width: 5px;
    right: 5%;
    min-height: 50%;
    height: 50%;
    border-radius: none;
    position: center;

}
p{
text-align: justify;

}